<?xml version="1.0"?>
<robot name="yumi" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import Rviz colors -->
  <xacro:include filename="$(find yumi-description)/urdf/Util/materials.xacro" />
  <!-- Import utilities -->
  <xacro:include filename="$(find yumi-description)/urdf/Util/utilities.xacro" />
  <!--Import
  the yumi macro -->
  <xacro:include filename="$(find yumi-description)/urdf/yumi.xacro" />
  <!--Import
  the yumi servo gripper macro -->
  <xacro:include filename="$(find yumi-description)/urdf/Grippers/yumi_servo_gripper.xacro" />

  <xacro:property name="yumi_parent" value="world" />

  <!--yumi-->
  <xacro:yumi
    name="$(arg body_name)"
    hardware_interface="hardware_interface/$(arg arms_interface)"
    controller_path="$(arg controller_path)"
    parent="${yumi_parent}"
    namespace="$(arg namespace)"
    collision_enabled="$(arg collision_enabled)"
    max_effort="$(arg max_effort)">
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </xacro:yumi>

  <!--right
  gripper -->
  <xacro:yumi_servo_gripper name="gripper_r" parent="yumi_link_7_r"
    collision_enabled="$(arg collision_enabled)">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>

  <!--left
  gripper -->
  <xacro:yumi_servo_gripper name="gripper_l" parent="yumi_link_7_l"
    collision_enabled="$(arg collision_enabled)">
    <origin xyz="0 0 0.007" rpy="0 0 ${PI}" />
  </xacro:yumi_servo_gripper>

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="yumi_base_link" />
    <origin xyz="0 0 0.1" rpy="0 0 0" />
  </joint>
</robot>